body {
     margin:0;
     padding:0;
}
 #map {
     position:absolute;
     top:0;
     bottom:0;
     width:100%;
}
 .title{
 	 background-color: #fff;
 	 border-radius: 3px;
 	 border-style: solid;
 	 border-width: 0.5px;
 	 top: 30px;
 	 left: 30px;
 	 font-family: 'Source Sans Pro', sans-serif;
 	 font-size: 40px;
 	 padding: 5px 8px 5px 8px;
 	 position: absolute;
 	 z-index: 1;
}
 .scroll-message{
 	background-color: #e0e0e0;
 	position: absolute;
 	border-radius: 3px;
 	border-style: solid;
 	border-width: 0.5px;
 	top: 90%;
 	left: 50%;
 	margin-top: -75px;
 	margin-left: -200px;
 	font-family: 'Source Sans Pro', sans-serif;
 	font-size: 80px;
 	line-height: 80px;
 	padding: 13px;
     display: none;
 	z-index: 1;
}
 .legend {
     background-color: #fff;
     border-radius: 3px;
     border-style: solid;
     border-width: 0.5px;
     bottom: 30px;
     box-shadow: 0 1px 2px rgba(0,0,0,0.10);
     font: 15px/23px 'Helvetica Neue', Arial, Helvetica, sans-serif;
     padding: 10px;
     position: absolute;
     right: 40px;
     z-index: 1;
}
 .legend h4 {
     margin: 0 0 10px;
}
 .legend div span {
     border-radius: 50%;
     display: inline-block;
     height: 15px;
     margin-right: 10px;
     width: 15px;
}